<h1>Your Courses</h1>

<div id="list-courses">
  <ul>
    <% for course in @courses -%>
        <li id=<%= course.id %>>
          <%= link_to course.name, [:instructor, course], :title => "See #{course.name}" %>
          <%= link_to image_tag("cross.png"),
                      { :controller => "/lab", :action => "delete_course", :id => course.id },
                      :title => "Delete #{course.name}",
                      :confirm => "Delete the \"#{course.name}\" course?",
                      :method => :post -%>
        </li>
    <% end -%>
  </ul>
</div>

<% if @courses.empty? -%>
    <p>
      You do not have any courses at the moment!
      <%= link_to "Create a new course.", new_instructor_course_path %>
    </p>
<% end -%>
