.vial-title {
	border-top: 2px dotted #ccc; 
	width: 500px; 
	padding: 5px 0 0 0;
}

#parent-info {
	 border-bottom: 2px dotted #ccc; 
	 width: 500px;
}

#destroy-vial {
	border: 2px dashed #ff0000; 
	width: 140px; 
	padding: 2px;
}

table {
	text-align: justify;
}

#vial-table {
	width: 390px;
	padding: 0 0 0 75px;
}

#vial-table td {
	text-align: right;
	border-bottom: 1px dotted #aaa;
	border-right: 1px dotted #aaa;
}

#vial-table th {
	text-align: justify;
	border-bottom: 1px dotted #aaa;
	border-right: 1px dotted #aaa;	
}

#cols_character {
	padding-left: 150px;
}

#rows_character {
	float: left;
	padding-top: 45px;
}

#character_rows, #character_cols {
	display: inline;
}