.vial-title {
}
#vial-info {
	width: 700px; 
}

#parent-info {
	 width: 700px;
}

#parent-table td {
	text-align: right;
}

#parent-table th {
	text-align: justify;
}

#destroy-vial {
	border: 2px dashed #ff0000; 
	width: 140px; 
	padding: 2px;
}

table {
	text-align: justify;
}

#vial-table {
	width: 400px;
	padding: 0 0 0 75px;
}

#vial-table td {
	text-align: right;
	border-bottom: 1px dotted #aaa;
	border-right: 1px dotted #aaa;
}

#vial-table th {
	text-align: justify;
	border-bottom: 1px dotted #aaa;
	border-right: 1px dotted #aaa;	
}

#character_rows, #character_cols {
	display: inline;
}

#instruction {
	color: #949494;
	font: 14px Tahoma;
}

.section_header {
  cursor: pointer;
  font-size: 1.3em;
  padding-left: 1.3em;
  background: no-repeat center left;
  margin: .4em 0;
}

.section_closed .section_header { background-image: url(/images/arrow_closed.png);}
.section_open .section_header   { background-image: url(/images/arrow_open.png); }

.section_closed .section_content { display: none; }

#spinner {
	position: relative;
}

.error {
	border: 2px solid red;
	padding: 1em;
	margin-bottom: 2em;
	background-color: #f0f0f0;
	font: bold smaller sans-serif;
}

.bar {
	background-color: #fa4;
	color: #222;
	padding: 1em;  
}

#session-info {
	float: right;
}

.bar a:link {
	color: #04f;
}

.bar a:visited {
	color: #b40;
}

.bar a:hover {
	background-color:  #222;
	color: #f93;
	text-decoration: none;
}

.bar h1 {
	display: inline;
	font-size: 100px;
}

.bar img {

	height: 100px;
}

.main {
	background-color: #fff;
}

body {
	background-color: #ccc;
}


