body {
	background: #fff url(/images/body_bg.png) repeat-x;
	font-family: Tahoma;
}

img {
	border: 0px;
}

img.centered {
	display: block;
    margin-left: auto;
    margin-right: auto; 
}

.centered {
	text-align: center
}

img.right {
	float: right;
}

a:hover {
	color: #0b6304;
}

span.highlight {
	background-color: #B5F9B3;
}

.vial-title h1 {
    margin: 0;
    padding: 0;
}

#vial-info {
	width: 700px; 
}

#parent-info {
	 width: 700px;
}

#parent-table td {
	text-align: right;
}

#parent-table th {
	text-align: justify;
}

table {
	text-align: justify;
}

#vial-table {
/*	width: 400px; */
	padding: 0;
}

#vial-table td {
	text-align: right;
	border-bottom: 1px dotted #aaa;
	border-right: 1px dotted #aaa;
}

#vial-table th {
	text-align: justify;
	border-bottom: 1px dotted #aaa;
	border-right: 1px dotted #aaa;	
}

#character_rows, #character_cols {
	display: inline;
}

#instruction {
	color: #949494;
	font: 14px Tahoma;
}

.section_header {
  cursor: pointer;
  font-size: 1.3em;
  padding-left: 1.3em;
  background: no-repeat center left;
  margin: .4em 0;
}

.section_closed .section_header { background-image: url(/images/arrow_closed.png);}
.section_open .section_header   { background-image: url(/images/arrow_open.png); }

.section_closed .section_content { display: none; }

#spinner {
	position: relative;
}

.error {
	border: 2px solid red;
	padding: 1em;
	margin-bottom: 2em;
	background-color: #f0f0f0;
	font: bold smaller sans-serif;
}

.notice {
	border: 2px solid green;
	padding: 1em;
	margin-bottom: 2em;
	background-color: #f0f0f0;
	font: bold smaller sans-serif;
}

.bar {
	background-color: #CDFBCB;
	color: #222;
	padding: 1em;  
}

#session-info {
	float: right;
}

.bar a:link {
	color: #04f;
}

.bar a:visited {
	color: #b40;
}

.bar a:hover {
	color: #0b6304;
	text-decoration: none;
}

.bar h1 {
	display: inline;
	font-size: 80px;
}

.bar img {
	height: 80px;
}

.main {
	background-color: #fff;
}


.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div #table_of_student_solutions td {
	text-align: right;
	border-bottom: 1px dotted #aaa;
	border-right: 1px dotted #aaa;
}

div #table_of_student_solutions th {
	text-align: justify;
	border-bottom: 1px dotted #aaa;
	border-right: 1px dotted #aaa;	
}

.parent {
	background-color: gray;
}

.menu-bar {
	padding: 3px;
	border: 1px solid #333;
	background-color: #0b6304;
	}
	
.menu-bar ul {
	margin-left: 0;
	padding-left: 0;
	display: inline;
	} 

.menu-bar ul li {
	margin-left: 0;
	padding: 3px 15px;
	border-left: 1px solid #333;
	list-style: none;
	display: inline;
	}
	
.menu-bar ul li.first {
	margin-left: 0;
	border-left: none;
	list-style: none;
	display: inline;
	}
	
.menu-bar a:link {
	color: #fff;
}

.menu-bar a:visited {
	color: #fff;
}

.menu-bar a:hover {
	color: #ffff80;
}	