<p>Welcome <%= h(@username) -%></p>
<h2>Current Users Fucntionality</h2>
<ul>
  <li><%= link_to "List Users", :action => :list_users %></li>
  <li><%= link_to "Add a Student", :action => :add_student %></li>
</ul>