<h1>Batch Add Student</h1>

<% form_tag("/users/create_students") do %>
    <p>
      <label for="course_id">Course:</label>
      <%= select_tag(:course_id, options_from_collection_for_select(@courses, "id", "name")) %>
    </p>

    <p>
      <label for="password">Password:</label>
      <%= text_field_tag :password %>
      <em id="instruction">
        used for all students
      </em>
    </p>
    
    <p>
      <label for="student_csv">Student Information:</label><br/>
      <%= text_area_tag :student_csv, nil, :size => "80x15" %>
    </p>
    <p>
      Example:<br/>
      <em id="instruction">
        Calvin, John, jc2@calvin.foo<br/>
        Luther, Martin, ml1@calvin.foo<br />
      </em>
      Creates accounts <code>jc2</code> and <code>ml1</code>.
    </p>



    <div class="buttons">
      <button type="submit" class="positive">
        <%= image_tag 'group_add.png' %>Add Students
      </button>
    </div>
<% end %>
