<table>   
    <tr>
        <th></th>
        <% @column_titles.each do |title| %>
        <th><%= title %></th>
        <% end %>
    </tr>
    <% @row_titles.each do |row_title| %>
    <tr>
        <th><%= row_title %></th>
        <% @column_titles.each do |col_title| %>
        <td class="count"><%= @vial.number_of_flies([@rows, @columns], [row_title, col_title]) %></td>
        <% end %>
    </tr>
    <% end %>

</table>