<h2>Cross the Flies</h2>

<div id="errors">
</div>

<% remote_form_for :vial, :url => { :action => :mate_flies },
         :before => [
             "$('cross_button').disabled = true;",
             visual_effect(:appear, "spinner_cross")
         ] do |form| -%>
  <table>
    <tr>
      <td>
        <label for="label"><strong>Label for vial of offspring: </strong></label>
      </td>
      <td>
        <%= form.text_field :label, :size => 30, :value => "" %>                
      </td>
    </tr>        
    <tr>
      <td>
        <label for="number_of_flies"><strong>Number of offspring: </strong></label>                
      </td>
      <td>
        <%= form.text_field :number_of_requested_flies, :size => 5, :value => @flies_number %>
      </td>
    </tr>        
    <tr>
      <td>
        <label for="shelf_id"><strong>Store in the rack named: </strong></label>                
      </td>
      <td>
        <%= form.collection_select(:shelf_id, current_user.current_shelves_without_trash, :id, :label) %>
      </td>
    </tr>        
  </table>
	<div id="dad"></div>
	<div id="mom"></div>
<div class="buttons">	
	<button type="submit" class="positive" id="cross_button" value="Cross">Cross</button>
	<div style="display: inline;">
	<%= image_tag '/images/green-load.gif', :id => "spinner_cross", :style => 'display: none;' %>
	</div>
</div>
    
 
  
<% end -%>
