<p> <strong>Total number of flies: </strong><%= @vial.flies.size %></p>

<div id="cols_character">
<% form_for :character_list_cols do |form| %>
<%= form.select(:character, @vial.species.characters, {}) %>
<% end %>
</div>

<div id="rows_character">
<% form_for :character_list_rows do |form| %>
<%= form.select(:character, @vial.species.characters, {}) %>
<% end %>
</div>

<br />
<div id="vial-table">
<%= render(:partial => "character_table") %>
</div>