<div class="section_open" >
    <div class="section_header" onclick="toggle_section(this.parentNode)"><%= ["", "First", "Second"][number] %> Vial</div>
    <div class="section_content">
        <div id="big-table-<%= number %>">
            <em id="instruction">A list of flies will be shown here.</em>
        </div>
    </div>
</div>
