<%= error_messages_for 'rack' %>

<h1>Add Rack</h1>

<% form_for :rack do |form| %>
    <p>
        <label for="label"><strong>Label: </strong></label>
        <%= form.text_field :label, :size => 40 %>
		<%= javascript_tag "$('rack_label').focus()" %>
    </p>
    
    <%= submit_tag "Add Rack", :class => "submit" %>
<% end %>