<h2>Scenarios</h2>

<p>
    <em id="instruction">Select which scenario to use</em>
</p>
<p>
    Current Scenario: <%= h(@current_scenario_title) %>
</p>

<% form_tag :url => {:action => :index} do %>
    <p>
		<label for="scenario_id"><strong>Scenario:</strong> </label>
		<%= collection_select(:basic_preference, :scenario_id, current_user.enrolled_in.scenarios, :id, :title) %>
	</p>
  <%= submit_tag "Update", :class => "submit" -%>
<% end -%>