<%= error_messages_for 'vial' %>

<h1>Collect Field Vial</h1>

<% form_for :vial do |form| %>
    <p>
        <label for="label"><strong>Label: </strong></label>
        <%= form.text_field :label, :size => 40 %>
    </p>
    <p>
        <label for="number_of_flies"><strong>Number of Flies: </strong></label>
        <%= text_field_tag :number %>
    </p>
    
    <%= submit_tag "Collect field vial", :class => "submit" %>
<% end %>