<%= error_messages_for 'rack' %>

<h1>Move Vial to Another Rack</h1>

<p><strong>Vial:</strong> <%= @vial.label -%></p>

<% form_for :vial, :url => { :action => :move_vial_to_another_rack, :id => @vial.id } do |form| %>
    <p>
		<label for="rack_id"><strong>Destination:</strong> </label>
		<%= select_tag(:rack_id, options_for_select(@rack_labels_and_ids) )%>
	</p>
    <%= submit_tag "Move Vial", :class => "submit" %>
<% end %>