<h2>Preferences</h2>

<em id="instruction">Select which character(s) to view</em>
<br /><br />

<% form_tag :url => {:action => :index} do %>
  <% @characters.zup(@checked_values) do |character, checked| -%>
    <%= check_box_tag character.to_s, "visible", checked  -%>
    <%= character.to_s %> <br />
  <% end -%>
  <%= submit_tag "Update", :class => "submit" -%>
<% end -%>