<h2>Preferences</h2>

<em id="instruction">Select which character(s) to view</em>
<br /><br />

<% form_tag :url => {:action => :index} do %>
  <% @characters.each do |character| -%>
    <%= check_box_tag "characters[]", character.to_s, @user.visible?(character) -%>
    <%= character.to_s %> <br />
  <% end -%>
  <br />
  <div class="buttons">	
	<button type="submit" class="positive">
        <%= image_tag 'tick.png' %>Save</button>
</div>
<% end -%>