<div class="vial-title"><%= h(@vial.label) %></div>
<br />
<table>   
    <tr>
        <th>Phenotype</th>
        <th>Count</th>
    </tr>
    <tr>
        <td>White</td>
        <td class="count"><%= @vial.number_of_flies(:eye_color, :white)%></td>
    </tr>
    <tr>
        <td>Red</td>
        <td class="count"><%= @vial.number_of_flies(:eye_color, :red) %></td> 
    </tr>
</table>

<br />
