<h1>Log In</h1>

<% form_for :user do |form| -%>
    <p>Username: <%= form.text_field :username, :size => 10 %></p>
    <p>Password: <%= form.password_field :password, :size => 10 %></p>
    <p><%= submit_tag "Enter" %></p>
<% end -%>