<%= error_messages_for 'course' %>

<h1>Add Course</h1>

<% form_for :course do |form| %>
    <p>
        <label for="name"><strong>Course Name: </strong></label>
        <%= form.text_field :name, :size => 40 %>
		<%= javascript_tag "$('course_name').focus()" %>
    </p>
    
    <%= submit_tag "Add Course", :class => "submit" %>
<% end %>