<div id="student-vial-info">
	<h1>Vial <em><%= @vial.label %></em> for <%= @vial.owner.username %></h1>
	<h2>General Information</h2>
	<p><strong>Genotypes of parents:</strong> Genotype information of the parents?
	<br />
	<strong>Number of offspring:</strong> <%= @vial.flies.size %>
	<br />
	<strong>Pedigree number:</strong> <%= @vial.pedigree_number %>
	<br /></p>
	<h2>View Parent Vials</h2>
	<% if @vial.dad && @vial.mom %>
		<p><%= link_to @vial.dad.vial.label, :action => :view_student_vial, :id => @vial.dad.vial %>
		<br />
		<%= link_to @vial.mom.vial.label, :action => :view_student_vial, :id => @vial.mom.vial %></p>
	<% else %>
		<p>Parents are unknown for field vials.</p>
	<% end %>
</div>
<div id="student-two-way-table">
	<h2>Two-Way Table</h2>
    <%= render :partial => "student_two_way_table" %>
</div>

