<div id="student-vial-info">
	<h3>Vial Information</h3>
	<strong>Owner: </strong>	
	<br />
	<strong>Rack: </strong>
	<br />
	<strong>Solution to: </strong>
	<br />
	<strong>Genotypes: </strong>visual representation of genotypes below this
</div>
<div id="pedigree-info">
	<h3>Pedigree Information</h3>
	
</div>
<div id="summary-stats">
	<h3>Summary statistics</h3>
	<strong>Count of flies: </strong>
	<br />
	<strong>Distance from field vial: </strong>
</div>
