<h1>Scenario: <%= h(@scenario.title) -%></h1>

<div id="list-characters">
	<ul>
		<% for character in @scenario.visible_characters -%>
          <li id=<%= character %>> <%= h(character.to_s) -%>
		  <% if @scenario.has_renamed?(character) -%>
		  (randomized)
		  <% end -%>
		  </li>
		<% end -%>
	</ul>
</div>
